/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: orange;
    
    display: flex;
    align-items: center;
    

}

 .container-head {
    height: 70px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav {
    width: 30%;
    padding: 5px;
}

.logo {
    width: 70%;
    text-align: center;
    padding: 5px;
}

.menu {
    width: 30%;
    text-align: right;
    padding: 5px;
}

/* debug header */

.nav {
    
    border: solid 1px black;
    background-color: yellow;
}

.logo {
   
   border: solid 1px black;
   background-color: green;
}

.menu {
    
    border: solid 1px black;
    background-color: yellow;
}

.container-head {
    background-color: aqua;
}


/* regole main */

.container-main {
    width: 70%;
    
    margin: 60px auto;
    background-color:grey ;
}

.row {
    display: flex;
    gap: 15px;
}

article {
    border: 1px solid red;
    width: calc(100%/3);
    
}

article img {
    max-width: 100%;
}

